#banner {
  background: url(../assets/images/bg.jpg) no-repeat center;
  background-size: cover;
}
#ContactInfo{
    background: url(../assets/images/bg3.png) no-repeat center;
    background-size: cover;
}
